*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: #BB9457;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
}
    
.calculator{
    padding: 20px;
    background-color: #FFE6A7;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.calculator form input{
    border: 0;
    outline: 0;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: -8px 8px 16px rgba(255, 255, 255, 0.1), 5px -5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    margin: 10px;
}

form .calculator-display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    height: 80px;
    width: 100%;
    
}

form .calculator-display input{
    text-align: right;
    flex: 1;
    font-size: 40px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

form input.operator{
    color: #6F1D1B;
    font-weight: bold;
}

/* Information*/

.information{
    flex: 000 0 200px;
    height: 450px;
    width: 200px;
    margin-top: 50px;
    background: #FFF5E6;
    padding: 10px;
    border-radius: 10px;
    color: #2d2d2d;
}